header {
    background-color: #26292E;
    padding: .25rem;
}

.icons {
    width: 1.75rem;
    height: 1.75rem;
    object-fit: cover;
    padding: .25rem;
    border-radius: 50%;
    background-color: white;
    margin: .1rem;
}

.icons2 {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.pageName {
    color: white;
    font-size: 1.5rem;
    margin: 0;
}

.pageName {
    font-family: "Butterfly Kids", cursive;
    font-weight: 400;
    font-style: normal;
}

.text {
    z-index: 1;
}

.pText {
    height: 27%;
    overflow: auto;
    margin: 10% 0 12% 17%;
    width: 65%;
    color: #26292E;
}

.imgContainer {
    max-width: 650px;
    position: absolute;
    top: 36%;
}
  

.heroImg {
    width: 100%;
    max-width: 500px;
    height: fit-content;
}

.pink {
    position: relative;
    background-color: #E7718B;
    padding: 3.5rem 0 1rem 0;
    color: #F0E7E9;
    height: 22rem;
}

.landingPageBtn {
    background-image: linear-gradient(#646464, #2E2D2D);
    color: #F0E7E9;
    border: none;
    border-radius: 5px;
}

.iconRow {
    background-color: #F4F4F6;
    padding-top: 1rem;
    border-bottom: 2px solid #E87790;

    & p {
        color: #bdbdbd;
    }

    & .textColumns {
        max-width: 75ch;
    }
}

.placeholders {
    max-width: 600px;
}

.quotes {
    max-width: 700px;
}

.copyright {
    background-color: #26292E;
    color: #F0E7E9;
    font-size: .75rem;
}

@media (min-width: 375px) {
    
    .pText {
        height: 35%;
    }

    .pink {
        height: 23rem;
    }
}

@media (min-width: 425px) {
    
    .pText {
        height: 49%;
    }

    .pink {
        height: 25rem;
    }

    .imgContainer {
        top: 29%;
    }
}

@media (min-width: 768px) {
    
    .pText {
        height: fit-content;
        overflow: auto;
        margin: 0 0 1rem 0;
        width: 100%;
    }

    .pink {
        height: fit-content;
    }

    .imgContainer {
        top: 29%;
        position: revert;
    }
}